<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% posts.each do |post| %>
  <tr>
    <td style="width:50%"><%= link_to post.title, post %></td>
    <td style="font-size:10px;"><%= post.user.email %></td>
  </tr>
<% end %>
</table>